body{
    font-family: 'Libre Franklin', sans-serif;
}

.body {
    /* width: 1200px; */
    padding-top: 5px;
    margin: 3rem;
    box-shadow: 0px 1px 9px hsl(0, 0%, 59%);
    /* align-items: center; */
   
}

#titulo {
    margin: 50px;
    margin-bottom: 30px;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 700;
}

#ponto {
    color: hsl(228, 88%, 48%);
}

/* Parte destinada ao main */

main {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
h2 {
    font-size: 2em;
    color: hsl(0, 0%, 59%);
    font-weight: 300;
}
h2 em {
    color: #000;
    font-weight: bold;
    font-weight: 600;
}

.subtitulo {
    font-weight: bold;
    font-weight: 300;
    font-size: 1em;
    margin: 20px;
    color: #000;
    margin-bottom: 20px;

}

.form{
    width: 100%;
    max-width: 638px;
    display:block;
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.email { 
    width: 350px;
    height: 2em;
    margin-left: 5%;
    padding-left: 25px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 300;
    border: 0.7px solid #000;
    /* color: rgb(254, 251, 251); */
    opacity: 14%;
    
} 

.submit {
    width: 150px;
    height: 2em;
    margin-right: 5%;
    border: 0.7px solid hsl(228, 88%, 48%);
    border-radius: 20px;
    background-color: hsl(228, 88%, 48%);
    color: white;
    font-size: 1em;
    box-shadow: 0px 1px 9px hsl(0, 0%, 59%);
    transition: all .2s linear;
    cursor: pointer;
}

.error_msg {
    position: absolute;
    bottom: -14px;
    left: 1.95rem;
    font-weight: 100;
    font-style: italic;
    font-size: 0.79rem;
    color: hsl(354, 100%, 66%);
}

.ok_msg {
    font-weight: 300;
    color: hsl(223, 87%, 63%);
}

.email:hover {
    opacity: 100%;
}

.submit:active {
    width: 160px;
    height: 45px;
    opacity: 14%;
}

/* layout */

#layout {
    
    width: 570px;
    height: 400px;
    margin: 2%;
    margin-bottom: 0%;
    display: inline-block;
    background-image: url(./layout.svg);
    background-size: cover;
}

.painel {
    padding-top: 50px;
    padding-left: 140px;
    margin: 20px;
    animation: appear 5s;
    opacity: 0;
    animation: appear .5s forwards;
}

@keyframes appear {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        opacity: 4;
    }
}


/* footer */

footer {

    text-align: center;
    padding-bottom: 10px;
}

.fa-brands {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 10px;
    color: rgb(130, 130, 221);
    border-radius: 50%;
    transition: all .2s linear;
    cursor: pointer;
    align-items: center;

}

.fa-brands:hover{
    width: 40px;
    color: #000;
    font-size: 1.5rem;

}

footer p {
    font-size: 0.5em;
}

@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }
    .form {
        display: inline;
        align-items: center;
        
    }
    .email{
        width: 60%;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .submit {
        margin-bottom: 1.5rem;
        margin-left: 2.5rem;

    }
    .error_msg {
        margin: 1rem;
        margin-left: 3rem;

    }

    #layout {

        margin: 0px;
        padding: 0%;
    }
    .painel {
        margin: none;
    
    }
}
