body {
    font-family: 'Libre Franklin', sans-serif;
    padding-top: 5px;
    margin: 40px 80px;
    box-shadow: 0px 1px 9px hsl(0, 0%, 59%);
    
}

#titulo {
    margin: 50px;
    margin-bottom: 30px;
    font-size: 1.2em;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 700;
}

#ponto {
    color: hsl(228, 88%, 48%);
}

/* Parte destinada ao main */

main {
    align-items: center;
    text-align: center;
}
h2 {
    font-size: 2em;
    color: hsl(0, 0%, 59%);
    font-weight: 300;
}
h2 em {
    color: #000;
    font-weight: bold;
    font-weight: 600;
}

p {
    font-weight: bold;
    font-weight: 300;
    font-size: 1em;
    margin: 20px;
    color: #000;
    margin-bottom: 20px;

}

.email { 
    margin-top: 20px;
    width: 350px;
    height: 2em;
    padding-left: 25px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 300;
    border: 0.7px solid #000;
    opacity: 14%;
    

} 

.submit {
    width: 150px;
    height: 2em;
    border: 0.7px solid hsl(228, 88%, 48%);
    border-radius: 20px;
    background-color: hsl(228, 88%, 48%);
    color: white;
    font-size: 1em;
    box-shadow: 0px 1px 9px hsl(0, 0%, 59%);
}

.email:hover {
    opacity: 100%;
}

.submit:active {
    width: 160px;
    height: 45px;
    opacity: 14%;
}

/* layout */

#layout {
    
    width: 570px;
    height: 400px;
    margin: 2%;
    margin-bottom: 0%;
    display: inline-block;
    background-image: url(./layout.svg);
    background-size: cover;
}

.painel {
    padding-top: 50px;
    padding-left: 140px;
    margin: 20px;
    animation: appear 5s;
    opacity: 0;
    animation: appear .5s forwards;
}

@keyframes appear {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        opacity: 4;
    }
}

/* footer */

footer {
    margin: 50px;
    text-align: center;
    padding-bottom: 10px;
}

.fa-brands {
    width: 30px;
    border-radius: 50px;
    margin-bottom: 10px;
    color: blue;

}

footer p {
    font-size: 0.5em;
}

@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }

    #layout {

       margin: 0px;
       padding: 0%;
    }
    .painel {
        margin: none;
    }
}
